<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymelaft.org"
      xmls:th="http://www.w3.org/199/xhtml"

      >
    <head th:repleace="~{layout/plantilla :: head}">
        <title>Dolly Pop</title>

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: head}"/>
        <div>Hola</div>
        <footer th:replace= "~{layout/plantilla :: footer}"/>
    </body>
</html>
