<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <head th:fragment="head">

        <title>Dolly Pop</title>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: head}"/>

        <section th:replace="~{categoria/fragmentos :: botonAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: AgregarCategoria}"/>
        <section th:replace="~{categoria/fragmentos :: lidtadoCategorias}"/>
        <footer th:replace="~{categoria/fragmentos :: footer}"/>"
    </body>
</html>
